@page "/createfield"
@attribute [Authorize(Policy = "User")]
@using BPR_RazorLibrary.Models
@using BPR_RazorLibrary.Services.Receivers
@using BPR_RazorLibrary.Services.Sensor
@using BPR_RazorLibrary.Services.Users
@using BPR_RazorLibrary.Services.Fields
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@inject IUserService UserService
@inject IReceiverService _ReceiverService
@inject ISensorService _SensorService
@inject IFieldService FieldService

<style>
    .signup {
        max-width: 600px;
        max-height: 550px;
        margin-top: 50px;
    }

    .card {
        padding: 10px;
        border-radius: 10px;
        width: 1000px;
    }

    .card-img {
        text-align: center;
    }

    .form-label-group, .form-label-group label {
        margin-top: 1rem !important;
    }

        .form-label-group button {
            width: -webkit-fill-available;
            margin-top: 1rem;
        }

        .form-label-group .oi {
            margin-bottom: 1.1rem;
        }

    .alert {
        margin-top: 1rem;
    }

    .input-group-text {
        background: #1565a2 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
        padding: 20px !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .fa-solid {
        color: white;
        position: absolute;
        top: 11px;
    }

    #password {
        width: 50% !important;
    }

    @@media (max-width: 600px) {
        #password {
            width: 100% !important;
        }
    }
</style>


<div class="container d-flex justify-content-center">
    <div class="card signup">
        <div class="card-body">
            <h5 class="card-title text-center">Create Field</h5>
            <EditForm Model="@newField" OnValidSubmit="@CreateNewField">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i> </span>
                    <input type="text" class="form-control" placeholder="Name" @bind-value="name" required />
                </div>
                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-comment"></i> </span>
                    <input type="text" class="form-control" placeholder="Description" @bind-value="description" required />
                </div>
                <div class="form-label-group input-group form-group width">
                    <span title="Paw Level Limit" class="input-group-text"><i class="fa-solid fa-water"></i> </span>
                    <input min="0" type="number" class="form-control" placeholder="Paw Level Limit" @bind-value="pawLevelLimit" required />
                </div>
                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-satellite-dish"></i></span>
                    <select class="form-select" @bind="@selectedReceiverSerial">
                        @foreach (var item in receivers)
                        {
                            <option value=@item.SerialNumber>@item.SerialNumber</option>
                        }
                    </select>
                </div>

                <div class="form-label-group">
                    <button class="btn btn-outline-success btn-block text-uppercase" type="submit" style="margin-top: 1rem; margin-bottom: .5rem; ">Create</button>
                </div>
            </EditForm>

            @if (!string.IsNullOrWhiteSpace(message) || !string.IsNullOrWhiteSpace(message1))
            {
                @if (!string.IsNullOrWhiteSpace(message))
                {
                    <div class="alert alert-danger">
                        @message
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        @message1
                    </div>
                }
            }
        </div>
    </div>

</div>

@code {
    int? userID;
    List<Receiver> receivers = new();
    List<Receiver> receiversForRemove = new();

    //new field
    Field newField = new();
    string name = String.Empty;
    string description = String.Empty;
    int? pawLevelLimit = null;

    string selectedReceiverSerial = String.Empty;

    private string message = String.Empty;
    private string message1 = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        userID = UserService.GetUserId();

        if (userID == null)
        {
            message = "Unable to find user ID. Please log-in and reload the page";
            message1 = String.Empty;
        }

        receivers = await _ReceiverService.GetReceiversByUserID((int)userID);

        //if the receiver already has an assigned field, don't display it to the user
        foreach (var receiver in receivers)
        {
            if (receiver.FieldId != null)
            {
                receiversForRemove.Add(receiver);
            }
        }

        foreach (var item in receiversForRemove)
        {
            receivers.Remove(item);
        }
    }

    private async Task CreateNewField()
    {
        if (String.IsNullOrEmpty(selectedReceiverSerial))
        {
            message = "Please select a receiver to assign to field";
            message1 = String.Empty;
            return;
        }

        if (pawLevelLimit < 0)
        {
            message = "Paw Level Limit cannot be less than zero";
            message1 = String.Empty;
            return;
        }

        if (IsDigitsOnly(selectedReceiverSerial) == false)
        {
            message = "Invalid receiver serial number";
            message1 = String.Empty;
            return;
        }

        if(!receivers.Any(r => r.SerialNumber == selectedReceiverSerial))
        {
            message = "Please select an existing receiver!";
            message1 = String.Empty;
            return;
        }

        newField.Description = description;
        newField.Name = name;
        newField.PawLevelLimit = pawLevelLimit;

        string responseMessage = await FieldService.CreateFieldAsync(newField);


        if (responseMessage.Equals("13"))
        {
            message = "Field already exists!";
            message1 = String.Empty;
            return;
        }
        else if (responseMessage.Equals("10"))
        {
            message = "An error happened when adding field!";
            message1 = String.Empty;
            return;
        }
        else
        {
            message1 = "Field successfully created!";
            message = String.Empty;
            name = String.Empty;
            description = String.Empty;
            pawLevelLimit = 0;
        }

        Field addedField = await FieldService.GetLatestFieldFromUser((int)userID);

        if (!addedField.Equals(newField))
        {
            message = "An error happened when adding field!";
            message1 = String.Empty;
            return;
        }

        int receiverIDToAssign = receivers.First(rec => rec.SerialNumber == selectedReceiverSerial).ReceiverId; //get the receiverID of the selected recceiver serial number (as a farmer does not know what a receiverID would be)

        Receiver tempReceiver = new Receiver { ReceiverId = receiverIDToAssign, FieldId = addedField.Id };

        string response = await _ReceiverService.AssignFieldToReceiver(tempReceiver);

        if (responseMessage.Equals("13"))
        {
            message = "Field already exists!";
            message1 = String.Empty;
        }
        else if (responseMessage.Equals("10"))
        {
            message = "An error happened when adding field!";
            message1 = String.Empty;
        }
        else
        {
            message1 = "Field successfully created!";
            message = String.Empty;
            name = String.Empty;
            description = String.Empty;
            pawLevelLimit = 0;
        }
    }

    bool IsDigitsOnly(string str)
    {
        foreach (char c in str)
        {
            if (c < '0' || c > '9')
                return false;
        }

        return true;
    }
}
