@page "/chart"
@using BPR_RazorLibrary.Services.Charts;
@using BPR_RazorLibrary.Services.Fields;
@using BPR_RazorLibrary.Models;
@using BPR_RazorLibrary.Services.Receivers
@using BPR_RazorLibrary.Services.Users;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject IChartService ChartService
@inject IFieldService FieldService

<style>
    .container, .card {
        margin-top: 10px;
    }

    .card {
        border-radius: 20px !important;
        width:fit-content
    }
</style>

<div class="container justify-content-center">
    <div class="card">
        <div class="card-body">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

@code {
    private List<ChartData> datas = new List<ChartData>();
    private Field? field = new Field();
    private List<SensorMeasurement> sensorMeasurements = new List<SensorMeasurement>();
    private DateTime from = new DateTime();
    private DateTime to = new DateTime();

    protected override async Task OnInitializedAsync()
    {
        to = DateTime.Now;
        from = DateTime.Now.AddDays(-7);
        field = FieldService.GetField();
        datas = await ChartService.GetAllChartDataByFieldId(field.Id, from, to);
        foreach (var s in field.Receiver.Sensors)
        {
            foreach (var d in datas)
            {
                if (d.TagNumber.Equals(s.TagNumber)) {
                    foreach (var m in d.Measurements)
                    {
                        var date = new DateTime(0001, 01, 01);
                        date = date + m.Time;
                        s.SensorMeasuremens.Add(new SensorMeasurement() { Timestamp = date, Temperature = m.Temperature, Humidity = m.Humidity });
                    }
                    
                }
            }

        }

        await JS.InvokeAsync<string>("getchart", datas, field.Receiver.Sensors);
    }


}
