@page "/CreateUser"

@using Services.Users
@using Microsoft.AspNetCore.Components.Forms
@using Models

@inject IUserService UsersService
@inject NavigationManager NavigationManager

<style>
    .signup {
        max-width: 600px;
        max-height: 550px;
        margin-top: 50px;
    }

    .card {
        padding: 10px;
        border-radius: 10px;
        width: 1000px;
    }

    .card-img {
        text-align: center;
    }

    .form-label-group, .form-label-group label {
        margin-top: 1rem !important;
    }

        .form-label-group button {
            width: -webkit-fill-available;
            margin-top: 1rem;
        }

        .form-label-group .oi {
            margin-bottom: 1.1rem;
        }

    .alert {
        margin-top: 1rem;
    }

    .input-group-text {
        background: #1565a2 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
        padding: 20px !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .fa-solid {
        color: white;
        position: absolute;
        top: 11px;
    }

    #password {
        width: 50% !important;
    }

    @@media (max-width: 600px) {
        #password {
            width: 100% !important;
        }

        .signup {
            max-height: 630px;
        }
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="card signup">
        <div class="card-body">
            <h5 class="card-title text-center">Create User Account</h5>
            <EditForm Model="@newUser" OnValidSubmit="@AddNewUser">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <InputText class="form-control" @bind-Value="newUser.FullName" placeholder="Full Name" required />
                </div>

                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-user-tag"></i></span>
                    <InputText class="form-control" @bind-Value="newUser.Username" placeholder="Username" required />
                </div>

                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <InputText class="form-control" @bind-Value="newUser.Email" placeholder="Email" required />
                </div>

                <div class="form-label-group input-group form-group width">
                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                    <InputText class="form-control" @bind-Value="newUser.Contact" placeholder="Contact" required />
                </div>

                <div class="form-label-group input-group form-group">
                    <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                    <InputText class="form-control" @bind-Value="newUser.Address" placeholder="Address" required />
                </div>

                <div class="row">
                    <div class=" form-label-group input-group" id="password">
                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                        <InputText class="form-control" type="password" @bind-Value="password" placeholder="Password" required />
                    </div>

                    <div class=" form-label-group  input-group" id="password">
                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                        <InputText class="form-control" type="password" @bind-Value="confirmPassword" placeholder="Confirm Password" required />
                    </div>
                </div>
                <div class="form-label-group">
                    <button class="btn btn-outline-success btn-block text-uppercase" type="submit" style="margin-top: 1rem; margin-bottom: .5rem; ">Create</button>
                </div>
            </EditForm>

            @if (!string.IsNullOrWhiteSpace(message))
            {
                <div class="alert alert-danger">
                    @message
                </div>
            }
        </div>
    </div>
</div>

@code {
    private User newUser = new User();

    private string password;
    private string confirmPassword;
    string message = String.Empty;

    private void AddNewUser()
    {
        if (password.Equals(confirmPassword))
        {
            newUser.Password = password;

            UsersService.CreateUser(newUser);
            NavigationManager.NavigateTo("/adminUnitManage", forceLoad: true);
        }
        else
        {
            message = "Password does not match!";
        }
    }
}
