@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<PageTitle>BPR_WebApp</PageTitle>

<header>

    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

@code {

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthStat;
        var user = authState.User;

    }
}